* {
    margin: 0px;
}

.navbarU {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: absolute;
    top: 0; 
    width: 100%;
    z-index: 1000;
}

.navbarU div {
    cursor: pointer;
}

.U{
    background-image: url('https://i.pinimg.com/originals/c2/63/d2/c263d2184f802a05ef422346a937ed1a.gif');
    background-size: cover; /* ปรับขนาดภาพพื้นหลังให้เต็มขนาดของคอนเทนเนอร์ */
    background-position: center; /* ยืดภาพพื้นหลังจากส่วนกลาง */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(31, 31, 31, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9); 
    backdrop-filter: blur(10px);
    border-radius: 7px;
    
}

.grid-item {
    width: 200px;
    height: 300px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
}



.grid-item {
    position: relative;
}
  
.title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 8px;
    margin: 0;
    transition: opacity 0.3s;
    opacity: 0;
}
  
.grid-item:hover .title {
    opacity: 1;
}
.movieC:hover{
    transform: scale(1.1);
}